*
{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
}

html, body
{
    height: 100%;
}


body
{
    background: url("../img/background.png");
}

.main
{
    background:#ffffff;
    width: 934px;
    padding: 35px;
    margin: 0 auto;
    border: 1px solid #cccccc;
    border-top: 5px solid #f2ac04;
}

.header
{
    margin-top: 5px;
    display: inline-block;
}

.logo
{
    float: left;
}

.logo-caption
{
    display: inline-block;
    margin-top: 5px;
    margin-left: 30px;
    padding-left: 30px;
    float: left;
    border-left: 1px solid #cccccc;
}

.header h1
{
    color: #f2ac04;
    font: 20px 'Arial', sans-serif;
}

.header p
{
    margin-top: 5px;
    font: 14px 'Tanoma', sans-serif;
}

.menu
{
    margin-top: 23px;
    border-top: 1px solid #ababab;
    border-bottom: 1px solid #ababab;
    width: 92%;
    padding: 10px 0 10px 75px;
    display: inline-block;
}

.menu a
{
    font: 18px 'Arial', sans-serif;
    float: left;
}

.menu .margin80
{
    margin-left: 80px;
}

.menu .margin85
{
    margin-left: 85px;
}

.menu a
{
    text-decoration: none;
    color: #6b6b6b;
}

h2
{
    color: #555656;
    clear: both;
    margin-top: 30px;
    margin-left: 6px;
    font: 12px 'Tahoma', sans-serif;
}

.jumbotron
{
    display: inline-block;
    padding: 5px;
    margin-top: 3px;
    width: 100%;
}

.slider
{
    float:left;
    display: inline-block;
    padding: 2px;
    width: 446px;
    border: 1px solid #cccccc;
}

.slider .caption
{
    display: inline-block;
    vertical-align: middle;
    padding: 12px 20px 10px;
    width: 404px;
    border: 1px solid #cccccc;
    border-top: none;
    margin-top: -5px;
}

.slider h4
{
    float: left;
    margin-left: 40px;
    font: 18px 'Tahoma', sans-serif;
}

.block
{
    float:  right;
    margin-right: 5px;
    display: inline-block;
    width: 450px;
    position: relative;
}

.block img
{
   width: 100%;
}

.block div.text
{
    display: inline-block;
    position: absolute;
    left: 19px;
    top: 62px;
    color: #ffffff;
}

.block h4
{
    font-weight: normal;
    font-family: 'Tahoma';
    font-size: 36px;
}

.block h3
{
    font-weight: normal;
    font: 24px 'Tahoma';
}

.block p
{
    padding-top: 10px;
    text-align: left;
    border-top: 1px solid;
    font: 12px/23px 'Tahoma', sans-serif;
}

.block a
{
    float: right;
    margin-right: 3px;
    margin-top: -3px;
}

.learn-more
{
    clear: both;
    display: inline-block;
    margin-top: 8px;
    border-top: 1px solid #ccb7b7;
    padding-top: 32px;
    width: 100%;
}

.latest-news
{
    display: inline-block;
    float: left;
    width: 270px;
    padding-right: 10px;
    padding-bottom: 10px;
    border-right: 1px solid  #ccb7b7;
}

.latest-news h3
{
    color: #555656;
    font: 18px 'Arial', sans-serif;
    margin-left: 8px;
}

.latest-news .dates
{
    margin-top: 20px;
    margin-left: 10px;
}

.latest-news .day1
{
    display: inline-block;
    color: #939393;
    font: 12px 'Arial', sans-serif;
    padding-top: 10px;
    padding-bottom: 8px;
    border-bottom: 1px dotted #ccb7b7;
}

.latest-news .day1 .link
{
    margin-top: 4px;
}

.latest-news .day2
{
    color: #939393;
    font: 12px 'Arial', sans-serif;
    padding-top: 17px;
    padding-bottom: 8px;
    border-bottom: 1px dotted #ccb7b7;
}

.latest-news .day2 .link
{
    margin-top: 2px;
}


.latest-news .day3
{
    color: #939393;
    font: 12px 'Arial', sans-serif;
    padding-top: 15px;
    padding-bottom: 8px;
    border-bottom: 1px dotted #ccb7b7;
}

.latest-news .day3 .link
{
    margin-top: 2px;
}

.latest-news .date
{
    float: left;
    height: 100%;
    border-right: 1px solid #ccb7b7;
    padding-right: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.latest-news .day
{
    color: #f2ac04;
    font: 18px 'Verdana', sans-serif;
}

.latest-news .month
{
    color: #777777;
    font: 9px 'Arial', sans-serif;
    padding: 0;
    margin: 0;
}

.latest-news a
{
    text-decoration: none;
    color: #565656;
    font: 14px 'Arial',sans-serif;
}

.latest-news p
{
    color: #939393;
    font: 12px 'Tahoma', sans-serif;
    font-style:normal;
}

.about
{
    display: inline-block;
    float: left;
    text-align: left;
    width: 260px;
    padding: 0 40px;
}

.about h3
{
    color: #555656;
    font: 18px 'Arial', sans-serif;
    margin-left: -2px;
}

.about p
{
    margin-top: 28px;
    color: #3c3c3c;
    font: 16px 'Tahoma';
    line-height: 1.45;
}

.about a
{
    float: right;
    margin-top: 15px;
    margin-right: -5px;
}

.contacts
{
    display: inline-block;
    float: left;
    width: 260px;
    border-left: 1px solid  #ccb7b7;
    padding-left: 4.86%;
}

.contacts h3
{
    float: left;
    margin-top: -5px;
    margin-left: 5px;
    color: #555656;
    font: 23px 'Arial', sans-serif;
}

.contacts p
{
    font: 14px 'Tahoma', sans-serif;
    color: #757575;
}

.contacts img
{
    float: left;
    margin-left: 5px;
    padding-right: 20px;
}

.contacts .border
{
    width: 90%;
    border-bottom: 1px dotted #ccb7b7;
}

.contacts .phone
{
    display: inline-block;
    width: 100%;
    text-align: middle;
    padding-top: 25px;
    padding-bottom: 5px;
}

.contacts .fax
{
    display: inline-block;
    width: 100%;
    text-align: middle;
    padding-top: 10px;
    padding-bottom: 8px;
}

.contacts .fax p
{
    margin-top: 2px;
}

.contacts .mail
{
    display: inline-block;
    width: 100%;
    text-align: middle;
    padding-top: 10px;
    padding-bottom: 8px;
}

.contacts .mail p
{
    margin-top: 2px;
}

.contacts .location
{
    display: inline-block;
    width: 100%;
    text-align: middle;
    padding-top: 10px;
    padding-bottom: 10px;
}

.contacts .location .address
{
    display: inline-block;
    text-align: left;
    float: left;
}

.contacts .location .address p
{
    margin-top: 5px;
    font: 14px/22px 'Tahoma', sans-serif;
    color: #757575;
}

.contacts h6
{
    color: #757575;
    font: 16px 'Tahoma', sans-serif;
    line-height: 1.5;
}

.clients
{
    width: 100%;
    margin-top: 55px;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
}

.clients h3
{
    float: left;
    font: 14px 'Tahoma', sans-serif;
    margin-left: 40px;
    margin-top: -10px;
    color: #343434;
    background: #fff;
    padding: 0 10px;
}

.clients div.img-clients
{
    width: 100%;
    overflow: hidden;
    padding-bottom: 7px;
}

.client1
{
    float: left;
    margin-left: 66px;
    margin-top: 15px;
}

.client2
{
    float: left;
    margin-left: 50px;
    margin-top: 20px;
}

.client3
{
    float: left;
    margin-left: 60px;
    margin-top: 5px;
}

.client4
{
    float: left;
    margin-left: 45px;
    margin-top: 20px;
}

.client5
{
    float: left;
    margin-left: 70px;
}

.client6
{
    float: left;
    margin-left: 45px;
    margin-top: 5px;
}


.footer
{
    width: 100%;
    margin-top: 25px;
}

.footer img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.footer .links
{
    margin-top: 18px;
    margin-left: 255px;
    display: inline-block;
}

.footer .link
{
    float: left;
    font: 10px 'Arial', sans-serif;
    //padding-right: 5px;
  //  border-right: 1px solid;
}

.footer .links .about-us
{
    margin-left: 6px;
}

.footer .links .work
{
    margin-left: 4px;
}

.footer .links .services
{
    margin-left: 3px;
}

.footer .links .resources
{
    margin-left: 4px;
}

.footer .links .articles
{
    margin-left: 4px;
}

.footer .links .contact
{
    margin-left: 5px;
}

.footer a
{
    text-decoration: none;
    color: #535353;
}

.footer p
{
    margin-top: -3px;
    font-family: 'Arial';
    font-size: 14px;
    color: #545454;
    text-align: center;
}

.left
{
    float: left;
}

.right
{
    float: right;
}

.clear
{
    clear: both;
}
